<div ref="container" class="info-container">
  <div ref="title" class="info-title">
    <h1>Nothing Selected</h1>
  </div>
  <div class="info-body">
    <div class="info-content-container">
      <div ref="content" class="info-content"></div>
    </div>
    <div class="info-footer">
      <div class="blog-link">
        <p>Based on points by Luka Ray, Gungrave + Community on, <a href="https://steamcommunity.com/app/934780/guides/" target="_blank" ref="noopener"> Stash locations, stunt jumps, time trails and paintings.</a></p>
      </div>
      <p>
        <a href="http://github.com/t04glovern/atlas-american-fugitive" target="_blank" rel="noopener">Source Code</a> |
        <a href="http://github.com/t04glovern/atlas-american-fugitive/blob/master/attribution.md" target="_blank" rel="noopener">Attribution</a> |
        <a href="http://github.com/t04glovern/atlas-american-fugitive/blob/master/LICENSE" target="_blank" rel="noopener">License
      </p>
    </div>
  </div>
</div>
